{% extends 'app/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card my-4 content-main ">
                <h2 class="card-header">New Post</h2>
                <div class="card-body">
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="save btn btn-default">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}